@import "../../stylevar.scss";


.allImg {
  margin: 40px 0;
    display: flex;
    // gap: 20px;
    // flex-wrap: wrap;
    justify-content: space-between;
  .bigImg {
    img {
      max-width: 460px;
      aspect-ratio: 10/9;
      object-fit: fill;
      border-radius: 8px;
    }
  }
  .smallImgs {
   
    flex-direction: column;
    display: flex;
    gap: 30px;
    .imggrp {
      display: flex;
      gap: 12px;
      .sImg {
        //  width: 20%;
        object-fit: fill;
        aspect-ratio: 5/4;
        max-width: 240px;
        border-radius: 8px;

      }
      
    }
  }
}
img{
   transition: .2s ease-in-out;
}

img:hover{
        scale: 1.04;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }